# Dependências
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Produção
/build

# Bancos de dados
/sql/data.sql
/sql/roles.sql
/sql/production_cleanup.sql
/sql/schema.sql

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# Vercel
.vercel

# Ambiente e Segredos (CRÍTICO)
.env*
!.env.example